openapi: 3.2.0
info:
  description: Oxen is a fast, unstructured data version control, to help version large machine learning datasets written in Rust.
  license:
    name: ''
  title: oxen-server Export API
  version: 0.52.0
servers:
- description: Production API
  url: https://hub.oxen.ai
- description: Local Development
  url: http://localhost:3000
security:
- api_key: []
tags:
- name: Export
paths:
  /api/repos/{namespace}/{repo_name}/export/download/{resource}:
    get:
      description: Download a directory as a zip archive. Subject to size limits.
      operationId: download_zip
      parameters:
      - description: Namespace of the repository
        example: ox
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Name of the repository
        example: Wiki-Text
        in: path
        name: repo_name
        required: true
        schema:
          type: string
      - description: Path to directory and branch/commit (e.g. main/data)
        example: main/data
        in: path
        name: resource
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/zip: {}
          description: Zip archive of the directory
        '400':
          description: Download size exceeds limit
        '404':
          description: Repository or resource not found
      summary: Export resource as a zip
      tags:
      - Export
components:
  securitySchemes:
    api_key:
      bearerFormat: JWT
      scheme: bearer
      type: http
